
/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Modal */
.modal {
	display: flex;
	flex-flow: column wrap;
	color: #dadada;
	font-family: 'Open Sans', sans-serif;
	width: 50vw;
	position: absolute;
}

/* Cabecera */
.modal__head {
	background-color: #1A335c;
	display: flex;
	flex-wrap: wrap;

	/* Cambiar a space-between, en caso de usar un titulo */
	justify-content: flex-end;
	align-items: center;
}

/* Titulo */
/*.modal__title {
	margin: 0;
	margin-left: 10px;
	font-size: 1.2rem;
}
*/

/* Boton de cerrar */
.modal__close-button {
	margin-right: 5px;
	padding: 16px;
	cursor: pointer;
	background-color: transparent;
	background-image: url('./assets/xmark-solid.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	transition: all 0.3s;
}

.modal__close-button:hover, .modal__close-button:focus {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

/* Contenido */
.modal__content {
	background-color: #203A62;
	padding: 0 1em;
}

.modal__paragraph {
	font-size: 1rem;
}


/* MQ */
/* Para algunos retoques */
@media screen and (max-width: 333px) {
	.modal__head {flex-flow: column-reverse wrap;}
	/*.modal__title {margin: 0;}*/
}